In [1]:
## loading libraries
import pandas as pd
import numpy as np

In [2]:
## parameters
path_train = '/Volumes/External SD/Kaggle/Prudential/Raw/train.csv'
path_test = '/Volumes/External SD/Kaggle/Prudential/Raw/test.csv'
path_submit = '/Volumes/External SD/Kaggle/Rain2/Submission/submit.csv'

In [3]:
## loading data
train = pd.read_csv(path_train)
test = pd.read_csv(path_train)

In [18]:
## exploring data
train.head()

,Id,Product_Info_1,Product_Info_2,Product_Info_3,Product_Info_4,Product_Info_5,Product_Info_6,Product_Info_7,Ins_Age,Ht,...,Medical_Keyword_40,Medical_Keyword_41,Medical_Keyword_42,Medical_Keyword_43,Medical_Keyword_44,Medical_Keyword_45,Medical_Keyword_46,Medical_Keyword_47,Medical_Keyword_48,Response
0,2,1,D3,10,0.076923,2,1,1,0.641791,0.581818,...,0,0,0,0,0,0,0,0,0,8
1,5,1,A1,26,0.076923,2,3,1,0.059701,0.600000,...,0,0,0,0,0,0,0,0,0,4
2,6,1,E1,26,0.076923,2,3,1,0.029851,0.745455,...,0,0,0,0,0,0,0,0,0,8
3,7,1,D4,10,0.487179,2,3,1,0.164179,0.672727,...,0,0,0,0,0,0,0,0,0,8
4,8,1,D2,26,0.230769,2,3,1,0.417910,0.654545,...,0,0,0,0,0,0,0,0,0,8

In [24]:
## exploring data
train.iloc[:,0].head()

pandas.core.series.Series

In [32]:
train.iloc[:,0].head().dtypes == 'int64'
train.shape[0]

59381

In [68]:
## function for summarizing data
def summarize_data(X):
    
    print("Summarizing data\n")
    
    print("Number of rows: %d" %(X.shape[0]))
    print("Number of columns: %d\n" %(X.shape[1]))
    
    column_name = []
    column_type = []
    unique_value = []
    min_value = []
    max_value = []
    
    for i in range(X.shape[1]):
        column = X.iloc[:,i]
        
        print("Column Name: %s" %(str(X.columns[i])))
        print("Column Type: %s" %(column.dtypes))
        print("Unique Values: %d (%d%%)" % (len(column.unique()), 100*len(column.unique())/len(column)))
        print("Minimum Value: %s" % (str(min(column))))
        print("Maximum Value: %s\n" % (str(max(column))))
        
        column_name.append(str(X.columns[i]))
        column_type.append(str(column.dtypes))
        unique_value.append(len(column.unique()))
        min_value.append(str(min(column)))
        max_value.append(str(max(column)))
        
    summary = pd.DataFrame()

In [69]:
summarize_data(train)

Summarizing data

Number of rows: 59381
Number of columns: 128

Column Name: Id
Column Type: int64
Unique Values: 59381 (100%)
Minimum Value: 2
Maximum Value: 79146

AttributeError: 'Series' object has no attribute 'columns'